@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass";

@import "_mixins";
@import "_fonts";
@import "_icons";



.clearfix {
  zoom:1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}


.inner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}




.footer {
  font: 14px "Proxima Nova Rg";
  background: #252A2F;
  color: #fff;

  a {
    color: #fff;
    @include transition(.3s all);
    &:hover {
      color: darken(#fff, 30%);
    }
  }
}

.footer-inner {
  padding: 20px;
  @extend .clearfix;
  p {
      @include inline-block;
      font: 14px 'Proxima Nova Lt';
      font-weight: 700;
    }
}



.ftr-brand {
  text-indent:-9000px;
  width: 53px;
  height: 70px;
  background: image-url('icons/logo-footer.png') no-repeat;
  margin-right: 20px; 
}

.ftr-left { @include float(left); }
.ftr-right { @include float(right); }
.ftr-twitter {
   @include inline-block;
   width:29px;
   height: 20px;
   margin-right: 8px;
   background: image-url('icons/twitter-footer.png') no-repeat;
   @include opacity(0.5);
}
.ftr-share { margin-top: 26px; }
