@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass";

@import "_mixins";
@import "_fonts";
@import "_icons";
@import '_buttons';



/* =Layout
----------------------------------------------- */

html {
  -webkit-font-smoothing: antialiased;
}

.inner {
  width: $max-width;
  margin: 0 auto;
  padding: 0 10px;
}

#cartodb-map {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
}

/* Header */

.header {
  padding: 25px 0;
  background: $principal-colour;
  color: #fff;
  @include box-shadow(inset 0 -1px 0 rgba(#000, .2));

  a { color: #fff; }
}

.hdr-info {
  margin-top: 32px;
  @include opacity(.6);

  a { text-decoration: underline; }
}

.hdr-title {
  margin-bottom: 4px;
  font: 22px/24px 'Proxima Nova Th';
  letter-spacing: -1px;
}

/* Footer */

.footer {
  font: 14px "Proxima Nova Rg";
  background: #252A2F;
  color: #fff;

  a {
    color: #fff;
    @include transition(.3s all);
    &:hover {
      color: darken(#fff, 30%);
    }
  }
}

.footer-inner {
  padding: 20px;
  @extend .clearfix;

  p {
    @include inline-block;
    font: 14px 'Proxima Nova Lt';
    font-weight: 700;
  }
}

.footer-column {
  display: block;
  float: left;
  width: 205px;
  min-height: 195px;
  font: 15px "Proxima Nova Lt";
}

.ftr-brand {
  text-indent:-9000px;
  width: 53px;
  height: 70px;
  background: image-url('icons/logo-footer.png') no-repeat;
  margin-right: 20px;
}

.ftr-left { @include float(left); }
.ftr-right { @include float(right); }
.ftr-twitter {
   @include inline-block;
   width:29px;
   height: 20px;
   margin-right: 8px;
   background: image-url('icons/twitter-footer.png') no-repeat;
   @include opacity(0.5);
}

.ftr-share { margin-top: 26px; }
