@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

@import "_mixins";
@import "_fonts";
@import "_icons";



/* =Layout
----------------------------------------------- */

html {
  -webkit-font-smoothing: antialiased;
}

.inner {
  width: $max-width;
  margin: 0 auto;
  padding: 0 10px;
}

#cartodb-map {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
}

/* Header */

.header {
  @extend .text-c;
  padding: 25px 0;
  background: $principal-colour;
  color: #fff;
  @include box-shadow(inset 0 -1px 0 rgba(#000, .2));

  a { color: #fff; }
}

.hdr-info {
  margin-top: 32px;
  @include opacity(.6);

  a { text-decoration: underline; }
}

.hdr-title {
  margin-bottom: 4px;
  font: 22px/24px 'Proxima Nova Th';
  letter-spacing: -1px;
}

/* Footer */

.footer {
  font: 14px "Proxima Nova Rg";
  background: rgba(#ddd, .2);
  color: #555;

  a {
    color: #397DB8;
    @include transition(.3s all);

    &:hover {
      color: #000;
    }
  }
}

.footer-inner {
  padding-top: 55px;

  p {
    padding: 50px 0 40px;
    border-top: 1px solid #eee;
  }
}

.footer-columns {
  @extend .clearfix;
}

.footer-column {
  display: block;
  float: left;
  width: 205px;
  min-height: 195px;
  font: 15px "Proxima Nova Lt";


  &.first {
    background: image-url('icons/logo-gray.png') no-repeat;
  }

  &.last {
    width: 100px;
  }

  dt {
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Proxima Nova Rg";
  }

  dd {
    margin-bottom: 10px;
  }

  a {
    color: #555;

    &:hover {
      color: #333;
    }
  }
}
