@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/inline-block";
@import "compass/css3/images";

@import "_mixins";
@import "_fonts";
@import "_icons";
@import '_buttons';


html {
  -webkit-font-smoothing: antialiased;
}

body{
  color: #333;
}

.inner {
  @include pie-clearfix;
  width: $max-width;
  margin: 0 auto;
  padding: 0 10px;
}

.fixed {
  position: fixed;
  z-index: 1000001;
}

.hide { display: none; }

/* Typography */

a {
  text-decoration: none;
  color: $principal-colour;
  @include transition(all .15s linear);

  &:hover {
    text-decoration: none;
    color: darken($principal-colour, 10%);
  }
}

.title-l { font: 24px 'Proxima Nova Th';  letter-spacing: -1px; }
.size-l { font: 18px 'Proxima Nova Rg'; }
.size-bl { font: 18px 'Proxima Nova Th'; }
.size-sbl { font: 18px 'Proxima Nova Lt'; }
.size-m { font: 16px 'Proxima Nova Rg'; }
.size-bm { font: 16px 'Proxima Nova Th'; }
.size-sbm { font: 16px 'Proxima Nova Lt'; }
.size-s { font: 14px 'Proxima Nova Rg'; }
.size-bs { font: 14px 'Proxima Nova Th'; }
.size-sbs { font: 14px 'Proxima Nova Lt'; }
.size-xs { font: 12px 'Proxima Nova Rg'; }
.size-bxs { font: 12px 'Proxima Nova Th'; }
.size-sbxs { font: 12px 'Proxima Nova Lt'; }


/* =Layout
----------------------------------------------- */

/* Header */

.header {
  padding: 25px 0;
  background: $principal-colour;
  color: #fff;
  @include box-shadow(inset 0 -1px 0 rgba(#000, .2));

  a { color: #fff; }
}

#cartodb-map {
  position: absolute;
  z-index: 1;
  top: 0; bottom: 0; left: 0;
  width: 100%;
  // height: 600px;
}

/* Footer */

.footer {
  position: relative;
  z-index: 1000002;
  font: 14px "Proxima Nova Regular";
  background: #252A2F;
  color: #fff;

  a {
    color: #fff;
    @include transition(.3s all);

    &:hover {
      color: darken(#fff, 30%);
    }
  }
}

.footer-inner {
  @include pie-clearfix;
  padding: 20px;

  p {
    @include inline-block;
    font: normal 700 14px 'Proxima Nova Semibold';
  }
}

.ftr-brand {
  text-indent: -9000px;
  width: 38px;
  height: 50px;
  margin-right: 20px;
  background: image-url('icons/logo-footer.png') no-repeat;
  background-size: 38px;
}

.ftr-left { float: left; }
.ftr-right { float: right; }
.ftr-twitter {
  @include inline-block;
  width: 29px;
  height: 20px;
  margin-right: 8px;
  background: image-url('icons/twitter-footer.png') no-repeat;
  @include opacity(.5);
}

.ftr-share { margin-top: 16px; }
