@font-face {
  font-family: 'Proxima Nova Lt';
  src: font-url('ProximaNova-LightItalic.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-LightItalic.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-LightItalic.svg#1a04ccc617b24808e8115891ca97cce8') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: font-url('ProximaNova-Extrabold.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Extrabold.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Extrabold.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Extrabold.svg#131ef5652291f8dc4bd914210809df02') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: font-url('ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: font-url('ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: font-url('ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: font-url('ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}
