@import "compass/css3/opacity";

@import 'icons/*.png';
@include all-icons-sprites;

.icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;

  &.i-hard { @include opacity(.8); }
  &.i-medium { @include opacity(.6); }
  &.i-light { @include opacity(.2); }

  &.i-xl { width: 44px; height: 44px; }
  &.i-m { width: 24px; height: 24px; }
  &.brand-inside { width: 50px; height: 50px; margin-right: 12px; }
  &.arrow-down { width: 12px; height: 8px; }
  &.arrow-right {
    width: 15px;
    height: 13px;
    margin-right: 12px;
    margin-top: 3px;
  }
}
