/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.inner:before, .nav:before,
.inner:after,
.nav:after {
  content: " ";
  display: table; }

.inner:after, .nav:after {
  clear: both; }

.icon {
  -webkit-transition: all .15s;
  transition: all .15s;
  display: inline-block;
  width: 30px;
  height: 30px; }
  .icon.i-hard {
    opacity: .8; }
  .icon.i-medium {
    opacity: .6; }
  .icon.i-grey {
    opacity: .35; }
  .icon.i-light {
    opacity: .2; }
  .icon.i-big {
    width: 72px;
    height: 72px; }
  .icon.i-xxl {
    width: 62px;
    height: 62px; }
  .icon.i-xl {
    width: 44px;
    height: 44px; }
  .icon.i-m {
    width: 24px;
    height: 24px; }
  .icon.i-s {
    width: 16px;
    height: 16px; }
  .icon.i-xs {
    width: 12px;
    height: 12px; }
  .icon.i-xxs {
    width: 9px;
    height: 15px; }
  .icon.i-media {
    width: 32px;
    height: 32px; }

.inner {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

.h-left {
  float: left; }

.h-right {
  float: right; }

.h-pa {
  position: absolute; }

.h-pr {
  position: relative; }

.h-ov {
  overflow: hidden; }

.h-iblock {
  display: inline-block; }

.inb-list > li {
  display: inline-block;
  margin-right: -4px; }

.h-malign {
  vertical-align: middle; }

.h-talign {
  vertical-align: top; }

.h-balign {
  vertical-align: bottom; }

.h-txt-center {
  text-align: center; }

.h-txt-left {
  text-align: left; }

.h-txt-right {
  text-align: right; }

.h-tupper {
  text-transform: uppercase; }

.h-valign:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
  margin-left: -5px; }

.h-vspace-xl {
  margin-bottom: 60px; }

.h-vspace-l {
  margin-bottom: 40px; }

.h-vspace-m {
  margin-bottom: 25px; }

.h-vspace-s {
  margin-bottom: 12px; }

.h-vspace-xs {
  margin-bottom: 8px; }

.h-lspace-xl {
  margin-left: 40px; }

.h-lspace-l {
  margin-left: 25px; }

.h-lspace-xs {
  margin-left: 8px; }

.h-lspace-xxs {
  margin-left: 4px; }

.h-rspace-l {
  margin-right: 25px; }

.h-rspace-xl {
  margin-right: 40px; }

.h-rspace-xs {
  margin-right: 8px; }

.h-rspace-s {
  margin-right: 12px; }

.h-tspace-m {
  margin-top: 25px; }

.h-tspace-s {
  margin-top: 8px; }

.h-tspace-l {
  margin-top: 40px; }

.h-tspace-xl {
  margin-top: 60px; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  font-family: "Proxima Nova W01", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #397DBA; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted #ddd; }

button {
  margin: 0;
  outline: none;
  cursor: pointer; }

.img-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; }

.img-circle {
  border-radius: 50%; }

.Title {
  font-weight: 600;
  margin-bottom: 5px; }

.Title--l {
  font-size: 48px;
  line-height: 58px; }

.Title--m {
  font-size: 36px;
  line-height: 42px; }

.Title--s {
  font-size: 30px;
  line-height: 34px; }

.Title--xs {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px; }

.Btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  border-radius: 50px;
  -webkit-transition: all .15s;
  transition: all .15s; }
  .Btn:hover {
    text-decoration: none; }
  .Btn > span {
    display: block;
    font-weight: 400;
    border-radius: 50px; }

.Btn--background {
  background: #fff; }

.Btn--s > span {
  padding: 6px 14px;
  font-size: 11px; }

.Btn--m > span {
  padding: 10px 20px;
  font-size: 12px; }

.Btn--l > span {
  padding: 14px 35px;
  font-size: 14px; }

.Btn--white {
  color: #fff;
  border: 2px solid #fff; }
  .Btn--white:hover {
    background: #fff;
    color: #333; }

.Btn--green {
  color: #8EB83F;
  border: 2px solid #8EB83F; }
  .Btn--green:hover {
    background: #8EB83F;
    color: #fff; }
  .Btn--green.is-highlight {
    background: #8EB83F;
    color: #fff; }
    .Btn--green.is-highlight:hover {
      background: #fff;
      color: #8EB83F; }

.Btn--blue {
  color: #397EB9;
  border: 2px solid #397EB9; }
  .Btn--blue:hover {
    background: #397EB9;
    color: #fff; }
  .Btn--blue.is-highlight {
    background: #397EB9;
    color: #fff; }
    .Btn--blue.is-highlight:hover {
      background: #fff;
      color: #397EB9; }

/*# sourceMappingURL=cdbui-flat.css.map */