@import '_application';

.h-valign {
  position: relative;

  &:before {
    @include inline-block();
    content: "";
    height: 100%;
  }
}

.h-iblock { display: inline-block; margin-left: -4px; }
.h-malign { vertical-align: middle; }
.h-tcenter { text-align: center; }
.h-tright { text-align: right; }
.h-left { float: left; }
.h-right { float: right; }
.h-txt-white { color: #fff; }
.h-pa { position: absolute; }
.h-pr { position: relative; }

.inb-list > li {
  display: inline-block;
  vertical-align: top;
}

.hdr-course {
  position: relative;
  height: 330px;
  margin-bottom: 40px;
  @include box-shadow(
    inset 0 1px 0 rgba(#000, .2),
    inset 0 -1px 0 rgba(#000, .2)
  );
  background: #eee;
}

.hdr-info {
  margin-top: 39px;
  color: rgba(#fff, .6);

  a {
    text-decoration: underline;
    color: rgba(#fff, .6);

    &:hover {
      color: #fff;
    }
  }
}

.hdr-title {
  display: inline-block;
  margin-bottom: 4px;
  font: 22px/24px 'Proxima Nova Th';
  letter-spacing: -1px;
}

.hdr-crs-inner { height: 330px; }

.hdr-crs-title {
  margin-bottom: 8px;
  font: 48px/52px 'Proxima Nova Th';
  letter-spacing: -2px;
  color: #111;
}

.hdr-crs-subtitle {
  font: 26px/30px 'Proxima Nova Lt';
  letter-spacing: -2px;
}

.hdr-crs-icon {
  @include inline-block();
  width: 85px;
  height: 85px;
  border: 4px solid rgba(#fff, .8);
  margin-bottom: 12px;
  background: #85C77C;
  @include border-radius(50%);
}

.hdr-nav {
  padding: 25px 10px;
}

.crs-nav {
  width: 218px;
  padding-top: 7px;

  .crs-home  & { padding-top: 41px; }

  li { margin-bottom: 32px;  }
  h3 {
    margin-bottom: 10px;

    &.current {
      margin-left: -13px;
      padding-left: 10px;
      border-left: 3px solid #397DBA;
    }
  }
}

.crs-nav-info {
  margin-bottom: 10px;
  color: #666;

  a {
    color: #666;
  }
}

.crs-inner { width: 700px; }

.crs-info {
  position: relative;
  margin-bottom: 40px;

  &:before {
    content:"";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border:1px solid rgba(0, 0, 0, .2);
    @include border-radius(4px);
    pointer-events: none;
  }
}

.crs-info-container { padding: 40px; }

.crs-footer {
  background: #85C77C;
  padding: 40px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.crs-ftr-option {
  margin-right: 100px;

  > li {
    margin-left: 45px;

    &:first-child { margin-left: 0; }
  }
}

.crs-ftr-option {
  dt {
    margin-bottom: 2px;
    @include opacity(.8);
  }

  dd:first-letter { text-transform: uppercase; }
}

.crs-info-title { margin-bottom: 20px;  }

.crs-info-txt {
  margin-bottom: 40px;
  font: 18px/1.3 'Proxima Nova Rg';
}

.crs-info-pre > li {
  margin-top: 18px;
  &:first-child { margin-top: 0; }
}

.crs-ftr-icon {
  margin-right: 12px;
  width: 48px;
  height: 48px;
  background: #fff;
  @include border-radius(2px);
}

.crs-subscribe {
  padding: 40px;
  margin-bottom: 80px;
  background: $secondary-colour;
  color: #fff;
}

.crs-sbs-icon { margin-right: 16px; }
.crs-sbs-title { margin-bottom: 6px; }
.crs-sbs-header { margin-bottom: 24px; }
.crs-disclaimer { @include opacity(.5); }

.crs-sbs-form {
  margin-bottom: 20px;

  fieldset {
    @include border-radius(4px);
    background: #fff;
  }

  input[type="text"] {
    position: relative;
    z-index: 3;
    margin: 6px 0 0 10px;
    padding: 10px;
    width: 70%;
    border: 0;
    background: none;

    &:focus {
      outline: none;

      + label { opacity: 0; }
    }
  }

  label {
    top: 16px; left: 20px;
    z-index: 1;
    color: #aaa;
    @include transition(opacity .3s);
  }
}

.crs-sbs-submit {
  border: 0;
  padding: 18px 20px;
  margin: 0;
  margin-right: -1px;
  background: $principal-colour;
  @include border-radius(0 5px 5px 0);
  cursor: pointer;
}


.breadcumbs {
  a {
    color: #333;

    &:hover { color: #000; }
  }

  > li {
    font: 16px 'Proxima Nova Lt';

    &:last-child {
      font-family: 'Proxima Nova Rg';
      font-weight: 700;

      &:after {
        content: '';
      }
    }

    &:after {
      content: '\203A';
      margin: 0 5px 0 8px;
    }
  }
}

.h-dropdown {
  z-index: 2;
  overflow: hidden;
  top: 12px; right: 10px;
  background: #fff;
  @include border-radius(4px);
  padding: 12px 50px 12px 12px;
  height: 16px;
  border: 1px solid rgba(#000, .1);

  a {
    color: #333;

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }


  li {
    margin-bottom: 10px;
    line-height: 1;

    &:last-child { margin-bottom: 0; }
  }

  &.drp-open {
    height: auto;
    @include box-shadow(0px 0px 7px rgba(#000, .1));
  }
}

.h-drp-actions {
  top: 8px; right: 12px;
  padding: 8px 0 8px 12px;
  border-left: 1px solid #ccc;
}

.lss-inner {

  margin: 0 0 50px 0;

  p {
    font: 18px/28px 'Proxima Nova Rg';
    margin-bottom: 20px;
  }

  h2 {
    color: #111;
    font: 24px/26px 'Proxima Nova Th';
    margin-bottom: 18px;
  }

  h3 {
    color: #111;
    font: 20px/23px 'Proxima Nova Th';
    margin-bottom: 16px;
    margin-top: 40px;
  }

  img{
    max-width: 700px;
    margin: 14px 0 6px 0;
  }

  .lss-end {
    padding: 40px 0 20px 0;
    margin: 0 0 40px 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    @include pie-clearfix;

    h2{margin: 0;}
    p{margin: 0 0 24px 0; font-size: 16px; color: #999;}
    .h-right{margin: 15px 0 0 0;}

    span{
      padding: 5px 7px 5px 7px;
      margin: 0 3px 0 3px;
      background-color: red;
      border-radius: 3px;
      &.twitter{background-color: #4DD2FF;}
      &.facebook{background-color: #006DD9;}

      a{
        font-family: 'Proxima Nova Lt';
        font-weight:  700;
        color: white;
      }
    }

  }

}

.highlight {
  overflow: auto;
  background-color: #F8F8F8;
  margin-bottom: 38px;
  padding: 20px;
  border: 1px solid #DDD;
  font: 16px/22px Consolas, "Liberation Mono", Courier, monospace;
  @include border-radius(3px);
}

.lss-hdr-inner {
  border-bottom: 1px solid #CCC;
  width: 100%;
  background: #fff;

  &.fixed {
    position: fixed;
    z-index: 1001;
    top: -103px;
  }

  &.border {
    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(#ccc, .2);
  }

  &.scroll:after {
    content: "";
    position: absolute;
    right: 0; bottom: -136px; left: 0;
    height: 135px;
    @include background(linear-gradient(top, #fff, rgba(#fff, 0)));
    @include box-shadow(inset 0px 2px 3px rgba(#000, .05));
    pointer-events: none;
  }
}

.lss-container.scrolled {
  padding-top: 170px;
}

.lss-course {
  position: relative;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 -1px 0 rgba(0, 0, 0, .2);
  margin-bottom: 40px;
  height: 105px;
  background: #eee;
}

.progress-bar {
  @include inline-block();
  position: relative;
  padding: 9px 0;
}

.progress-num {
  display: none;
  position: absolute;
  top: 17px; right: -50px;
  width: 100px;
  font: bold 14px/40px "Proxima Nova Rg";
  background: rgba(#424A50, .9);
  color: rgba(#fff, .8);
  @include border-radius(5px);
  text-align: center;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom: 6px solid rgba(#424A50, .9);
    pointer-events: none;
  }
}

.progress-bar-outer {
  position: absolute;
  z-index: 1;
  right: 10px; left: 10px; bottom: -10px;
}

.progress-bar-inner {
  height: 1px;
  background: darken(#85C77C, 5%);
  @include box-shadow(0 0 3px rgba(#85C77C, .3));
}
