@import '_application';


a {
  text-decoration: none;
}

.site-header {
  padding: 110px 0 25px;
  text-align: center;
  background: #397DBA image-url('header-bg.png');
}

.logo {
  display: inline-block;
  width: 143px;
  height: 149px;
  margin-bottom: 30px;
  @include icons-sprite(logo);
}

.site-title {
  margin-bottom: 5px;
  font-size: 60px;
  font-family: "Proxima Nova Extrabold";

  a {
    color: #fff;
  }
}

.site-description {
  margin-bottom: 50px;
  font-size: 31px;
  font-family: 'Proxima Nova Light';
  line-height: 1.2;
  color: #fff;
}

.small {
  margin-top: 95px;
  font-size: 15px;
  font-family: 'Proxima Nova Regular';
  color: rgba(#fff, .6);

  a {
    color: rgba(#fff, .6);
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }
}

.section {
  padding: 100px 0 80px 0;

  &.dark {
    padding: 110px 0 90px;
    background: #384047;

    .section-title {
      color: #fff;
      background: transparent;
    }
  }
}

.section-inner {
  position: relative;
  z-index: 2;
  @extend .inner;
  margin: 0 auto;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1;
  font-family: 'Proxima Nova Extrabold';
  background: image-url('section_title-bg.png') repeat-x center;
  text-align: center;
  color: #111;

  span {
    padding: 0 30px;
    background: #fff;
  }
}

.blocks {
  @include pie-clearfix;
  padding: 30px 0;
  list-style: none;
}

.block {
  position: relative;
  float: left;
  margin: 0 20px 20px 0;

  .block-inner {
    display: block;
    width: 300px;
    height: 216px;
    background: #85C77C;
    @include border-radius(3px);
    @include transition(.3s all);

    &.disabled {
      background: #eee;

      &:hover {
        background: darken(#eee, 3%);
      }

      .block-title {
        color: #ccc;
      }

      .level {
        background: #F3F3F3;
      }
    }

    &:hover {
      background: darken(#85C77C, 3%);
    }
  }

  &.last {
    margin: 0;
  }

  .level {
    display: block;
    float: right;
    margin: 15px 25px 0 0;
    padding: 10px 15px;
    font: 14px "Proxima Nova Regular";
    color: rgba(#000, .5);
    text-transform: uppercase;
    background: #C2E3BE;
    background: rgba(#fff, .5);
    @include border-radius(4px);
  }
}

.block-header { @include pie-clearfix; }

.course-category {
  margin: 15px 0 0 25px;
}

.block-title {
  position: absolute;
  right: 20px; bottom: 20px; left: 20px;
  font-size: 18px;
  font-family: 'Proxima Nova Regular';
  color: #fff;

  strong {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Proxima Nova Extrabold";
    display: block;
  }
}

.subscribe {
  text-align: center;
}

.field {
  @include pie-clearfix;
  display: inline-block;
  margin-bottom: 20px;
}

.input {
  float: left;
  margin: 0;
  padding: 15px 25px;
  border: 0;
  width: 645px;
  background: #fff;
  color: #ccc;
  font: 18px/1.5 'Proxima Nova Regular';
  border-radius: 5px;
  outline: none;

  &::-webkit-input-placeholder { color: #ddd; }
  &:-moz-placeholder { color: #ddd; }
  &::-moz-placeholder { color: #ddd; }
  &:-ms-input-placeholder { color: #ddd; }

  &.prepend-input {
    margin-right: -5px;
  }
}

.disclaimer {
  margin-top: 20px;
  font: 16px "Proxima Nova Light";
  color: rgba(#fff, .5);
}

.info-course {
  @include pie-clearfix;
  position: relative;
  height: 600px;
  background: #e5e5e5;
  text-align: center;
}

.inf-inner {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  text-align: left;

  > li {
    padding: 30px;
    float: left;
    vertical-align: top;
    background: #fff;
    background: rgba(255,255,255, .9);
    border: 1px solid rgba(0, 0, 0, .4);
    width: 358px;
    @include border-radius(4px);
    margin-left: 100px;

    &:first-child { margin: 0; }
  }
}

.inf-title { margin-bottom: 30px; font: 24px/26px 'Proxima Nova Extrabold'; }

.inf-list { color: #777;
  > li {
    margin-bottom: 24px;
    font: 16px/22px 'Proxima Nova Regular';
    padding-left: 30px;
    position: relative;

    &:before {
      content:"";
      position: absolute;
      width: 15px;
      height: 13px;
      background: image-url('icons/arrow-right.png');
      left: 0;
      top: 4px;
    }
  }
}

