.icon {
	background-image: url('../img/sprite.png');
	background-repeat: none;
}



.i-hard { opacity: .8; }
.i-medium { opacity: .6; }
.i-light { opacity: .2; }


.i-xl { width: 44px; height: 44px; }
.i-l { width: 30px; height: 30px; }
.i-m { width: 24px; height: 24px; }