// Academy
// --------------------------------------------------

.Header-background.Header-background--academy {
  background: url("../img/backgrounds/academy.svg") center 77px no-repeat;
}

.Lesson-footer {
  margin-top: $spacing-unit * 3;
  padding-top: $spacing-unit * 3;
  border-top: 1px solid #eee;
  color: $grey9;
}
