// Variables
// --------------------------------------------------

// Layout

$layout-xxl: 1920px;
$layout-xl: 1440px;
$layout-l: 1040px;
$layout-m: 750px;
$layout-s: 400px;
$spacing-unit: 20px;

// Font
$font-weight-base: 400;
$font-size-base: 13px;
$line-height-base: 22px;
$font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: #636D72;
$background-color: #FFF;

// Colors
$blue1: #3AA9E3;

$grey9: #979EA1;
$grey6: #636D72;
$grey2: #2E3C43;

$green1: #85C77C;
