---
layout: default
description: 'Learn to create maps on the web<br />and visualize geospatial data'
---

<section class="section">
  <div class="section-inner">
    <h2 class="section-title"><span>Our courses</span></h2>

    <ul class="blocks">
      {% for page in site.pages %}
      {% if page.layout == 'course' %}
        <li class="block {% cycle '', '', 'last' %}">
          {% if page.published %}
          <a href="{{ page.url }}" class="block-inner {% if page.published == false %}disabled{% endif %}">
            <div class="block-header">
              <i class="course-category icon i-light icons-{{ page.tag }}-medium-white"></i>
              <span class="level">{{ page.categories }}</span>
            </div>

            <span class="block-title"><strong>{{ page.title }}</strong>{{ page.description }}</span>
          </a>
          {% else %}
          <div class="block-inner disabled">
            <div class="block-header">
              <i class="course-category icon i-light icons-{{ page.tag }}-medium-white"></i>
              <span class="level">{{ page.categories }}</span>
            </div>

            <span class="block-title"><strong>{{ page.title }}</strong>{{ page.description }}</span>
          </a>
          {% endif %}
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

<section class="section dark">
  <div class="section-inner last subscribe">
    <h2 class="section-title">Subscribe and recieve info about our courses</h2>
    <form>
      <div class="field">
        <input type="email" class="input prepend-input" value="" placeholder="your e-mail" />
        <button class="button append-button">SEND</button>
      </div>
    </form>
    <p class="disclaimer">We dont use your email for comercial advertisings</p>
  </div>
</section>
