<footer class="Footer Footer--cGrey">
  <div class="Footer-inner">
    <div class="u-inner u-inner--10">
      {% unless page.nofooter %}
        <p class="Title Title--small Title--cGrey9 u-vspace--8">Subscribe</p>
        <h3 class="Title Title--sectionMedium u-vspace--20">Keep up with CartoDB announcements</h3>

        {% capture hubspot_css %}{% include css/hubspot.css %}{% endcapture %}

        <div class="Grid u-vspace--40">
          <ul class="Grid-inner">
            <li class="Grid-cell Grid-cell--col5 Grid-cell--col6--tablet Grid-cell--col12--mobile">
              <div class="Newsletter u-tspace-m js-Hubspot--newsletter">
                <script>
                  hbspt.forms.create({
                    portalId: '{{ site.hubspot_id }}',
                    formId: '2ed2a125-0e48-4d52-a03c-a1cb90f0433b',
                    submitButtonClass: 'hs-newsletter',
                    css: '{{ hubspot_css | split: " " | join: " " }}',
                    target: '.js-Hubspot--newsletter'
                 });
                </script>
              </div>
            </li>

            <li class="Grid-cell Grid-cell--col7 Grid-cell--col6--tablet Grid-cell--col12--mobile">
              <p class="Footer-social">Or follow us on <a href="{{ site.twitter-baseurl }}" target="_blank" class="Footer-link u-lspace--20"><i class="Icon Icon--twitter Icon--s14 u-malign"></i></a> <a href="{{ site.facebook-baseurl }}" target="_blank" class="Footer-link u-lspace--20"><i class="Icon Icon--facebook Icon--s14 u-malign"></i></a> <a href="{{ site.linkedin-baseurl }}" target="_blank" class="Footer-link u-lspace--20"><i class="Icon Icon--linkedin Icon--s14 u-malign"></i></a></p>
            </li>
          </ul>
        </div>

        <hr class="Sep u-vspace--40 u-mobile-hide"></hr>
      {% endunless %}

      <div class="u-block--mobile">
        <dl class="Footer-column Footer-column--mobile">
          {% for product_item in site.data.menu.product %}
          <dd class="Footer-item Footer-item--mobile"><i class="Icon Icon--caretRight Icon--s10 Footer-arrow"></i><a href="{{ product_item.url | prepend: site.cartodb-baseurl }}" class="Footer-link">{{ product_item.title }}</a></dd>
          {% endfor %}
          <dd class="Footer-item Footer-item--mobile"><i class="Icon Icon--caretRight Icon--s10 Footer-arrow"></i><a href="{{ site.cartodb-baseurl }}/pricing/" class="Footer-link">Pricing</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="Icon Icon--caretRight Icon--s10 Footer-arrow"></i><a href="{{ site.cartodb-baseurl }}/team/" class="Footer-link">Team</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="Icon Icon--caretRight Icon--s10 Footer-arrow"></i><a href="{{ site.cartodb-baseurl }}/jobs/" class="Footer-link">Jobs</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="Icon Icon--caretRight Icon--s10 Footer-arrow"></i><a href="{{ site.cartodb-baseurl }}/terms/" class="Footer-link">Terms of Service</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="Icon Icon--caretRight Icon--s10 Footer-arrow"></i><a href="{{ site.cartodb-baseurl }}/privacy/" class="Footer-link">Privacy Policy</a></dd>
        </dl>
      </div>

      <div class="Grid u-mobile-hide">
        <ul class="Grid-inner Grid-inner--shortpadding">
          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet">
            <dl class="Footer-column">
              <dt class="Footer-title u-vspace--20">Product</dt>
              {% for product_item in site.data.menu.product %}
                <dd class="Footer-item"><a href="{{ product_item.url | prepend: site.cartodb-baseurl }}" class="Footer-link">{{ product_item.title }}</a></dd>
              {% endfor %}
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/extras/" title="Extras" class="Footer-link">Extras</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/enterprise/" title="Enterprise" class="Footer-link">Enterprise</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/enterprise/#on-premises" title="Enterprise" class="Footer-link">On-premises</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/open-in-cartodb/" title="Open in CartoDB" class="Footer-link">Open in CartoDB</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/torque/" title="Torque" class="Footer-link">Torque</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/pricing/" title="Pricing" class="Footer-link">Pricing</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet">
            <dl class="Footer-column">
              <dt class="Footer-title u-vspace--20">Solutions</dt>
              {% for solutions_item in site.data.menu.solutions %}
                <dd class="Footer-item"><a href="{{ solutions_item.url | prepend: site.cartodb-baseurl }}" title="{{ solutions_item.title }}" class="Footer-link">{% if solutions_item.title_short %}{{ solutions_item.title_short }}{% else %}{{ solutions_item.title }}{% endif %}</a></dd>
              {% endfor %}
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet">
            <dl class="Footer-column">
              <dt class="Footer-title u-vspace--20">CartoDB for</dt>
              {% for cartodbfor_item in site.data.menu.cartodbfor %}
                <dd class="Footer-item"><a href="{{ cartodbfor_item.url | prepend: site.cartodb-baseurl }}" class="Footer-link">{{ cartodbfor_item.title }}</a></dd>
              {% endfor %}
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet">
            <dl class="Footer-column">
              <dt class="Footer-title u-vspace--20">Discover</dt>
              {% for discover_item in site.data.menu.discover %}
                <dd class="Footer-item"><a href="{{ discover_item.url | prepend: site.cartodb-baseurl }}" class="Footer-link">{{ discover_item.title }}</a></dd>
              {% endfor %}
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/ambassadors/" class="Footer-link">Ambassadors</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet">
            <dl class="Footer-column">
              <dt class="Footer-title u-vspace--20">Learn</dt>
              {% for learn_item in site.data.menu.learn %}
                <dd class="Footer-item"><a href="{{ learn_item.url }}" class="Footer-link">{{ learn_item.title }}</a></dd>
              {% endfor %}
              <dd class="Footer-item"><a href="https://github.com/CartoDB/cartodb" class="Footer-link">Source Code</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/contributing/" class="Footer-link">Contributions</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet">
            <dl class="Footer-column">
              <dt class="Footer-title u-vspace--20">About us</dt>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/team/" class="Footer-link">Team</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/team/#board" class="Footer-link">Board and Investors</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/jobs/" class="Footer-link">Jobs</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/press/" class="Footer-link">Press</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/partners/" class="Footer-link">Partners</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/attributions/" class="Footer-link">Attributions</a></dd>
              <dd class="Footer-item"><a class="Footer-link js-ContactLink" href="mailto:sales@cartodb.com">Contact Sales</a></dd>
              <dd class="Footer-item"><a href="{{ site.cartodb-baseurl }}/request-live-demo/" class="Footer-link">Request a Demo</a></dd>
            </dl>
          </li>
        </ul>
      </div>

      <div class="Grid u-vspace--60 u-vspace--40--mobile">
        <ul class="Grid-inner">
          <li class="Grid-cell Grid-cell--col6 Grid-cell--col12--mobile">
            <a class="Logo Logo--footer Logo--dark Footer-logo" href="{{ site.cartodb-baseurl }}/">
              <i class="Icon Icon--logo Icon--s36"></i>
            </a>

            <p class="Footer-credits"><strong class="Footer-title u-vspace--20">CartoDB</strong><br />Map Your World's Data</p>
          </li>

          <li class="Grid-cell Grid-cell--col6 u-mobile-hide">
            <ul class="Colophon">
              <li class="Colophon-item"><a href="{{ site.cartodb-baseurl }}/love/" class="Footer-link">Love</a> · </li>
              <li class="Colophon-item"><a href="{{ site.cartodb-baseurl }}/terms/" class="Footer-link">Terms of Service</a> · </li>
              <li class="Colophon-item"><a href="{{ site.cartodb-baseurl }}/privacy/" class="Footer-link">Privacy Policy</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
