<footer class="Footer">
  <div class="Footer-inner">
    <div class="u-inner u-inner--10">
      <div class="Grid Footer-columns">
        <ul class="Grid-inner">
          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-columnTitle">Product</dt>
              {% for product_item in site.data.menu.product %}
                <dd><a class="Footer-link" href="{{ product_item.url | prepend: site.cartodb-baseurl }}">{{ product_item.title }}</a></dd>
              {% endfor %}
              <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/pricing/" title="Pricing">Pricing</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-columnTitle">Solutions</dt>
              {% for solutions_item in site.data.menu.solutions %}
                <dd><a class="Footer-link" href="{{ solutions_item.url | prepend: site.cartodb-baseurl }}" title="{{ solutions_item.title }}">{% if solutions_item.title_short %}{{ solutions_item.title_short }}{% else %}{{ solutions_item.title }}{% endif %}</a></dd>
              {% endfor %}
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-columnTitle">CartoDB for</dt>
              {% for cartodbfor_item in site.data.menu.cartodbfor %}
                <dd><a class="Footer-link" href="{{ cartodbfor_item.url | prepend: site.cartodb-baseurl }}">{{ cartodbfor_item.title }}</a></dd>
              {% endfor %}
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-columnTitle">Discover</dt>
              {% for discover_item in site.data.menu.discover %}
                <dd><a class="Footer-link" href="{{ discover_item.url }}">{{ discover_item.title }}</a></dd>
              {% endfor %}
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-columnTitle">Learn</dt>
              {% for learn_item in site.data.menu.learn %}
                <dd><a class="Footer-link" href="{{ learn_item.url }}">{{ learn_item.title }}</a></dd>
              {% endfor %}
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-columnTitle">About us</dt>
              {% for about_item in site.data.menu.about %}
                <dd><a class="Footer-link" href="{{ about_item.url }}">{{ about_item.title }}</a></dd>
              {% endfor %}
              <dd><a class="Footer-link" href="mailto:sales@cartodb.com">Contact Sales</a></dd>
              <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/request-live-demo/">Request a Demo</a></dd>
            </dl>
          </li>
        </ul>
      </div>

      <div class="Grid Footer-columns">
        <ul class="Grid-inner">
          <li class="Grid-cell Grid-cell--col6 Grid-cell--col12--mobile Footer-column">
            <a class="Logo Logo--footer Logo--dark Footer-logo" href="{{ site.cartodb-baseurl }}/">
              <i class="Icon Icon--logo Icon--s36"></i>
            </a>

            <p class="Footer-credits"><strong class="Footer-title">CartoDB</strong><br />Map Your World's Data</p>
          </li>

          <li class="Grid-cell Grid-cell--col6 Grid-cell--col12--mobile Footer-column">
            <ul class="Colophon">
              <li class="Colophon-item"><a href="{{ site.cartodb-baseurl }}/love/" class="Footer-link">Love</a> · </li>
              <li class="Colophon-item"><a href="{{ site.cartodb-baseurl }}/terms/" class="Footer-link">Terms of Service</a> · </li>
              <li class="Colophon-item"><a href="{{ site.cartodb-baseurl }}/privacy/" class="Footer-link">Privacy Policy</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
