<header class="Header Header--tall Header--cGreen js-Header">
  <div class="Header-background Header-background--academy"></div>

  {% include navigation.html %}

  <div class="Header-inner">
    <div class="u-inner">
      <div class="Grid">
        <div class="Grid-inner">
          <div class="Grid-cell Grid-cell--col9 Grid-cell--col6--tablet Grid-cell--col12--mobile">
            <h1 class="Header-subtitle">The Map Academy</h1>
            <p class="Header-title">Learn to create maps on the web and visualize geospatial data</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
