<div class="hdr-nav inner h-pr">
  <nav class="h-left">
    <ul class="inb-list breadcumbs">
      <li><a href="{{ site.baseurl }}/">All courses</a></li>
      {% if page.layout == 'course' %}
        <li class="last"><a href="{{ site.baseurl }}/courses/{{ page.id }}.html">{{ page.title }}</a></li>
      {% elsif page.layout == 'lesson' %}
        <li><a href="{{ site.baseurl }}/courses/{{ page.course_slug }}.html">{{ page.course }}</a></li>
        <li class="last"><a href="{{ site.baseurl }}/courses/{{ page.course_slug }}/lesson-{{ page.id }}.html">{{ page.title }}</a></li>
      {% endif %}
    </ul>
  </nav>

  {% assign counter = '1' %}

  {% for page in site.pages %}
    {% if page.layout == 'course' and page.published %}
      {% capture counter %}{{ counter | minus:1 }}{% endcapture %}
    {% endif %}
  {% endfor %}

  {% if counter contains '-'  and page.layout == 'course'%}
    <div id="dropdown" class="h-dropdown h-pa">
      <nav>
        <a href="#" class="h-drp-actions h-pa">
          <i class="icon arrow-down icons-arrow-down"></i>
        </a>

        <ul>
          <li>
            <p><a href="#" class="size-s">{{ page.title }}</a></p>
          </li>
          {% for pg in site.pages %}
            {% if pg.layout == 'course' and pg.published and pg.title != page.title %}
              <li>
                <p><a class="size-s" href="{{ site.baseurl }}/courses/{{ pg.id }}.html">{{ pg.title }}</a></p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  {% endif %}

  <div class="progress-bar-outer h-pa">
    <div class="progress-bar hide">
      <div class="progress-bar-inner"></div>
      <div class="progress-num"></div>
    </div>
  </div>
</div>

