<div class="h-dropdown h-pa">
      <nav>
          <a href="javascript:void(0);" class="h-drp-actions h-pa">
              <i class="icon arrow-down icons-arrow-down"></i>
          </a>
          <ul>
              {% for page in site.pages %}
              {% if page.layout == 'course' %}
                  <li>
                      <p><a class="size-s" href="{{ site.baseurl }}/courses/{{ page.id }}.html">
                       {{ page.title }}
                      </a></p>
                  </li>
              {% endif %}
              {% endfor %}
          </ul>
      </nav>
  </div>