<footer class="footer">
  <div class="footer-inner inner">
    <ul class="footer-columns">
      <li class="footer-column first"></li>

      <li class="footer-column">
        <dl>
          <dt>Enterprise</dt>
          <dd><a href="{{ site.cartodburl }}/">Partners</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Case studies</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Contact sales</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt>Developers</dt>
          <dd><a href="{{ site.cartodburl }}/">Support</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Documentation</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Tutorials</a></dd>
          <dd><a href="{{ site.cartodburl }}/">CartoDB at GitHub</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Release notes</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt>CartoDB</dt>
          <dd><a href="{{ site.cartodburl }}/">Visualize</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Analyze</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Develop</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Pricing</a></dd>
        </dl>
      </li>

      <li class="footer-column last">
        <dl>
          <dt>More</dt>
          <dd><a href="{{ site.cartodburl }}/">Blog</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Attributions</a></dd>
          <dd><a href="{{ site.cartodburl }}/">About</a></dd>
          <dd><a href="{{ site.cartodburl }}/">Contact</a></dd>
        </dl>
      </li>
    </ul>

    <p>{{ site.time | date: "%Y" }} <a href="{{ site.cartodburl }}">CartoDB</a> — <a href="{{ site.cartodburl }}/terms">Terms of service</a></p>
  </div>
</footer>

<!-- analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics_property_id }}', 'cartodb.com', { 'allowLinker': true });
  ga('send', 'pageview');
</script>
