<footer class="footer">
  <div class="footer-inner inner">

    <div class="ftr-left">
      <p class="ftr-brand">hola</p>
      <p>{{ site.time | date: "%Y" }} <a href="{{ site.cartodburl }}">CartoDB</a> — <a href="{{ site.url }}/about.html">About the Map Academy</a> — <a href="{{ site.githuburl }}">The Map Academy @ GitHub</a></p>
    </div>

    <div class="ftr-right">
      <p class="ftr-share"><a href="https://twitter.com/cartodb" class="twitter-follow-button" data-show-count="false">Follow @cartodb</a></p>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

  </div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20934186-3']);
  _gaq.push(['_setDomainName', 'cartodb.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
