<header class="header">
  <div class="hdr-inner inner">
    <div class="h-left">
      <div class="h-iblock">
        <i class="icon brand-inside icons-logo-inside"></i>
      </div>

      <div class="h-iblock">
        <a href="{{ site.baseurl }}/" class="hdr-title">{{ site.name }}</a>
        <p class="size-s">{{ site.description }}</p>
      </div>
    </div>

    <div class="h-right h-tright">
      <p class="size-s hdr-info">brought to your by <a href="{{ site.cartodburl }}">CartoDB</a></p>
    </div>
  </div>
</header>
