<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.body_class %}{{ page.body_class }}{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="Offcanvas">
    <div class="Offcanvas-inner js-Offcanvas-inner">
      {{ content }}

      {% include footer.html %}
    </div>
    </div>

    <!-- build:js(.tmp) /js/vendor.js -->
    <script src="/../bower_components/jquery/dist/jquery.js"></script>
    <script src="/../bower_components/underscore/underscore-min.js"></script>
    <script src="/../bower_components/backbone/backbone-min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/stickyfill.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/waypoints.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/cookies.js"></script>
    <!-- endbuild -->
    <!-- build:js(.tmp) /js/main.js -->
    <script src="{{ site.baseurl }}/js/app.js"></script>
    <script src="{{ site.baseurl }}/js/components/dropdown.js"></script>
    <script src="{{ site.baseurl }}/js/components/navbar.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <script src="{{ site.baseurl }}/js/lesson.js"></script>
    <!-- endbuild -->

    {% include vendor_scripts.html %}
  </body>

</html>
