<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.name }} &rsaquo; {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/about.css">
  <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <div class="lss-hdr-inner" id="lss-scroll-recieve">
    {% include header.html %}
  </div>

  <section>
    <header class="hdr-about">
      <div class="hdr-crs-inner inner h-valign h-tcenter">
        <div class="h-iblock h-malign">
          <span class="hdr-crs-icon h-valign h-tcenter">
            <span class="h-iblock h-malign">
              <i class="course-category icon i-medium icons-{{ page.tag }} i-xl"></i>
            </span>
          </span>

          <h1 class="hdr-crs-title">{{ page.title }}</h1>
          <h2 class="hdr-crs-subtitle">{{ page.subtitle }}</h2>
        </div>
      </div>
    </header>

    <div class="inner">
      <nav class="crs-nav h-left">
        <ul>
          <li><h2 class="size-bm"><a href="#what-is-this">What is this?</a></h2></li>
          <li><h2 class="size-bm"><a href="#how-can-i-contribute">How can I contribute?</a></h2></li>
          <li><h2 class="size-bm"><a href="#why-should-i-contribute">Why should I contribute?</a></h2></li>
        </ul>
      </nav>

      <div class="crs-inner h-right lss-inner">
        {{ content }}
      </div>
    </div>
  </section>

  {% include footer.html %}
  {% include footer_scripts.html %}
</body>
</html>
