<!DOCTYPE HTML>

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Your Website</title>
		<link href="{{ site.baseurl }}/css/screen.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.baseurl }}/css/_fonts.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.baseurl }}/css/buttons.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.baseurl }}/css/icons.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.baseurl }}/css/course.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		
		<header class="header">
			<div class="hdr-inner cf container">
				hello
			</div>
		</header>
		<div class="container cf">
			hello
		</div>

		<section>
			<header class="hdr-course">
				<div class="hdr-crs-inner container h-valign h-tcenter">
					<div class="h-iblock h-malign">
						<h1>{{ page.title }}</h1>
						<h2>{{ page.subtitle }}</h2>
					</div>
				</div>
			</header>

				{{ content }}
			<div class="cf container">
				<nav class="crs-nav h-left">
					<ul>
						{% for course in site.courses %}
						{% for page in site.pages %}
						{% if page.course == course %}
							<li><a href="/{{ page.id }}.html">{{ page.title }}</a></li>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</ul>
				</nav>
				<div class="crs-inner h-right">
					<article class="crs-info">
						<div class="crs-info-container">
							<h2 class="crs-info-title title-l">What you’ll learn</h2>
							<p class="crs-info-txt">{{ page.description }}</p>
							<h2 class="crs-info-title title-l">Prerequesites</h2>
						</div>
						<footer class="crs-footer">
							{{ page.categories }}
							{{ page.time }}

							<p class="button btn-m btn-black btn-white btn-20">
								<a href="#">START COURSE</a>
							</p>
						</footer>
					</article>

					<article class="crs-subscribe">
						<h2 class="title-l h-txt-white">123 persons have taken this course</h2>
						<p class="h-txt-white size-l">Join them now for free, and receive each new lessons each week</p>
					</article>
				</div>

			</div>


		</section>






	</body>

</html>



