<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map Academy - {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/course.css">
  <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
  <!-- start Mixpanel -->
  <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
  mixpanel.init("{{ site.mixpanel_token }}");</script>
  <!-- end Mixpanel -->
</head>
<body class="crs-home">
  {% include header.html %}
  {% include navigation.html %}

  <section>
    <header class="hdr-course">
      <div id="cartodb-map"></div>
      <div class="hdr-crs-inner inner h-valign h-tcenter">
        <div class="h-iblock h-malign">
          <span class="hdr-crs-icon h-valign h-tcenter">
            <span class="h-iblock h-malign">
              <i class="course-category icon i-medium icons-{{ page.tag }}-medium-white"></i>
            </span>
          </span>

          <h1 class="hdr-crs-title">{{ page.title }}</h1>
          <h2 class="hdr-crs-subtitle">{{ page.subtitle }}</h2>
        </div>
      </div>
    </header>

    {{ content }}

    <div class="inner">
      <nav class="crs-nav h-left">
        <ul>
        {% for page in site.pages %}
          {% if page.layout == 'course' %}
            {% assign sorted_pages = site.pages | sort:"path" %}
            {% for lesson in sorted_pages %}
              {% if page.id == lesson.course_slug %}
                <li>
                  <h2 class="size-bm"><a href="{{ site.baseurl }}/courses/{{ page.id }}/lesson-{{ lesson.id }}.html">{{ lesson.title }}</a></h2>
                  <p class="size-s crs-nav-info">{{ lesson.subtitle }}</p>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        </ul>
      </nav>

      <div class="crs-inner h-right">
        <article class="crs-info">
          <div class="crs-info-container">
            <h2 class="crs-info-title title-l">What you’ll learn</h2>
            <p class="crs-info-txt">{{ page.description }}</p>

            <h2 class="crs-info-title title-l">Prerequesites</h2>
            <ul class="crs-info-pre">
              {% for prerequisite in page.prerequisite %}
                <li class="size-l">
                  <i class="icon arrow-right icons-arrow-right h-iblock h-malign"></i>
                  <p class="h-iblock h-malign">{{ prerequisite }}</p>
                </li>
              {% endfor %}
            <ul>
          </div>

          <footer class="crs-footer">
            <ul class="crs-ftr-option h-iblock h-malign inb-list h-txt-white">
              <li>
                <span class="h-iblock h-malign crs-ftr-icon h-tcenter h-valign">
                  <span class="h-iblock h-malign">
                    <i class="icon icons-difficulty-medium-black i-light"></i>
                  </span>
                </span>

                <dl class="h-iblock h-malign">
                  <dt class="size-sbxs">DIFFICULTY</dd>
                  <dd class="size-s">{{ page.categories }}</dd>
                </dl>
              </li>
              <li>
                <span class="h-iblock h-malign crs-ftr-icon h-tcenter h-valign">
                  <span class="h-iblock h-malign">
                    <i class="icon icons-time-medium-black i-light"></i>
                  </span>
                </span>

                <dl class="h-iblock h-malign">
                  <dt class="size-sbxs">TIME</dd>
                  <dd class="size-s ">{{ page.time }}</dd>
                </dl>
              </li>
            </ul>

            <a href="{{ site.baseurl }}/courses/{{ page.id }}/lesson-1.html" class="btn-round size-bm">START COURSE</a>
          </footer>
        </article>

        <article class="crs-subscribe">
          <header class="crs-sbs-header">
            <div class="h-iblock h-malign  crs-sbs-icon">
              <i class="icon i-light i-xl icons-calendar-large-white"></i>
            </div>

            <div class="h-iblock h-malign">
              <h2 class="title-l h-txt-white crs-sbs-title">123 persons have taken this course</h2>
              <p class="h-txt-white size-l">Join them now for free, and receive each new lessons each week</p>
            </div>
          </header>

          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
          <form action="http://cartodb.us8.list-manage.com/subscribe/post?u=36faffcf7a252a84c96af0236&amp;id=9609b13357" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="crs-sbs-form validate" target="_blank" novalidate>

          <div class="mc-field-group">
            <label for="mce-EMAIL" class="h-pa size-sbl">Email Address</label>
            <input type="email" value="" name="EMAIL" class="h-left size-sbl required email" id="mce-EMAIL">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_36faffcf7a252a84c96af0236_9609b13357" value=""></div>
              <button id="mc-embedded-subscribe" class="h-right crs-sbs-submit">
                <span class="size-bm h-txt-white">SEND</span>
              </button>
          </form>
          </div>

          <script type="text/javascript">
          var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
          try {
              var jqueryLoaded=jQuery;
              jqueryLoaded=true;
          } catch(err) {
              var jqueryLoaded=false;
          }
          var head= document.getElementsByTagName('head')[0];
          if (!jqueryLoaded) {
              var script = document.createElement('script');
              script.type = 'text/javascript';
              script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
              head.appendChild(script);
              if (script.readyState && script.onload!==null){
                  script.onreadystatechange= function () {
                        if (this.readyState == 'complete') mce_preload_check();
                  }
              }
          }

          var err_style = '';
          try{
              err_style = mc_custom_error_style;
          } catch(e){
              err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
          }
          var head= document.getElementsByTagName('head')[0];
          var style= document.createElement('style');
          style.type= 'text/css';
          if (style.styleSheet) {
            style.styleSheet.cssText = err_style;
          } else {
            style.appendChild(document.createTextNode(err_style));
          }
          head.appendChild(style);
          setTimeout('mce_preload_check();', 250);

          var mce_preload_checks = 0;
          function mce_preload_check(){
              if (mce_preload_checks>40) return;
              mce_preload_checks++;
              try {
                  var jqueryLoaded=jQuery;
              } catch(err) {
                  setTimeout('mce_preload_check();', 250);
                  return;
              }
              var script = document.createElement('script');
              script.type = 'text/javascript';
              script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
              head.appendChild(script);
              try {
                  var validatorLoaded=jQuery("#fake-form").validate({});
              } catch(err) {
                  setTimeout('mce_preload_check();', 250);
                  return;
              }
              mce_init_form();
          }
          function mce_init_form(){
              jQuery(document).ready( function($) {
                var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                options = { url: 'http://cartodb.us8.list-manage.com/subscribe/post-json?u=36faffcf7a252a84c96af0236&id=9609b13357&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                              beforeSubmit: function(){
                                  $('#mce_tmp_error_msg').remove();
                                  $('.datefield','#mc_embed_signup').each(
                                      function(){
                                          var txt = 'filled';
                                          var fields = new Array();
                                          var i = 0;
                                          $(':text', this).each(
                                              function(){
                                                  fields[i] = this;
                                                  i++;
                                              });
                                          $(':hidden', this).each(
                                              function(){
                                                  var bday = false;
                                                  if (fields.length == 2){
                                                      bday = true;
                                                      fields[2] = {'value':1970};//trick birthdays into having years
                                                  }
                                                if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                  this.value = '';
                                } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                  this.value = '';
                                } else {
                                    if (/\[day\]/.test(fields[0].name)){
                                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                                    } else {
                                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                    }
                                                }
                                              });
                                      });
                                  $('.phonefield-us','#mc_embed_signup').each(
                                      function(){
                                          var fields = new Array();
                                          var i = 0;
                                          $(':text', this).each(
                                              function(){
                                                  fields[i] = this;
                                                  i++;
                                              });
                                          $(':hidden', this).each(
                                              function(){
                                                  if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                                  this.value = '';
                                } else {
                                    this.value = 'filled';
                                                }
                                              });
                                      });
                                  return mce_validator.form();
                              },
                              success: mce_success_cb
                          };
                $('#mc-embedded-subscribe-form').ajaxForm(options);


              });
          }
          function mce_success_cb(resp){
              $('#mce-success-response').hide();
              $('#mce-error-response').hide();
              if (resp.result=="success"){
                  $('#mce-'+resp.result+'-response').show();
                  $('#mce-'+resp.result+'-response').html(resp.msg);
                  $('#mc-embedded-subscribe-form').each(function(){
                      this.reset();
                });
              } else {
                  var index = -1;
                  var msg;
                  try {
                      var parts = resp.msg.split(' - ',2);
                      if (parts[1]==undefined){
                          msg = resp.msg;
                      } else {
                          i = parseInt(parts[0]);
                          if (i.toString() == parts[0]){
                              index = parts[0];
                              msg = parts[1];
                          } else {
                              index = -1;
                              msg = resp.msg;
                          }
                      }
                  } catch(e){
                      index = -1;
                      msg = resp.msg;
                  }
                  try{
                      if (index== -1){
                          $('#mce-'+resp.result+'-response').show();
                          $('#mce-'+resp.result+'-response').html(msg);
                      } else {
                          err_id = 'mce_tmp_error_msg';
                          html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                          var input_id = '#mc_embed_signup';
                          var f = $(input_id);
                          if (ftypes[index]=='address'){
                              input_id = '#mce-'+fnames[index]+'-addr1';
                              f = $(input_id).parent().parent().get(0);
                          } else if (ftypes[index]=='date'){
                              input_id = '#mce-'+fnames[index]+'-month';
                              f = $(input_id).parent().parent().get(0);
                          } else {
                              input_id = '#mce-'+fnames[index];
                              f = $().parent(input_id).get(0);
                          }
                          if (f){
                              $(f).append(html);
                              $(input_id).focus();
                          } else {
                              $('#mce-'+resp.result+'-response').show();
                              $('#mce-'+resp.result+'-response').html(msg);
                          }
                      }
                  } catch(e){
                      $('#mce-'+resp.result+'-response').show();
                      $('#mce-'+resp.result+'-response').html(msg);
                  }
              }
          }

          </script>
          <!--End mc_embed_signup-->

          <p class="crs-disclaimer h-tcenter size-m">
            We dont use your email for comercial advertisings
          </p>
        </article>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <script src="{{ site.baseurl }}/js/application.js"></script>
  <script src="{{ site.baseurl }}/js/course.js"></script>
  <script src="{{ site.baseurl }}/js/ui/dropdown.js"></script>

  <script>
    $(function() {
      cdb.init(function() {
        window.course = new academy.Views.Course({
          vizjson: '{{ page.vizjson }}'
        });
      });
    });
  </script>
</body>
</html>
