<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/home.css">
    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <header class="header">
      <i class="logo"></i>
      <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ page.description }}</p>
      <a href="#content" class="more">View courses</a>
      <p class="small">brought to your by <a href="http://cartodb.com">CartoDB</a></p>
    </header>

    <div class="content" id="content">
      {{ content }}
    </div>

    <footer class="footer">
    </footer>
  </body>
</html>
