<!DOCTYPE HTML>

<html>

    <head>
        <meta http-equiv="Content-Type" content="charset=UTF-8" />
        <title>Map Academy - {{ page.course }} - {{ page.title }}</title>
        <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

        <link href="{{ site.baseurl }}/css/buttons.css" rel="stylesheet" />
        <link href="{{ site.baseurl }}/css/course.css" rel="stylesheet"  />
    </head>

    <body>
        
        <div class="fixed lss-hdr-inner" id="lss-scroll-recieve">
          <header class="header">
              <div class="hdr-inner cf container">
                  <div class="h-left">
                      <div class="h-iblock">
                          <i class="icon brand-inside icons-logo-inside"></i>
                      </div>
                      <div class="h-iblock">
                          <h1 class="hdr-title">The map Academy</h1>
                          <h2 class="size-s">Learn to create maps on the web and visualize geospatial data</h2>
                      </div>
                  </div>
                  <div class="h-right h-tright">
                      <p class="size-s hdr-info">brought to your by <a href="#">CartoDB</a></p>
                  </div>
              </div>
          </header>
          


          <div class="hdr-nav container h-pr cf">
              <nav class="h-left">
                  <ul class="inb-list breadcumbs">
                      <li><a href="/">All courses</a></li>
                      <li><a href="{{ site.baseurl }}/courses/{{ page.course_slug }}">Beginner course</a></li>
                  </ul>
              </nav>

              {% include dropdown.html %}


              <span class="progress-bar h-pa hide" style="width:0%;"></span>

          </div>
       </div>

        <section>
          <div class="lss-container">
              <header class="lss-course" id="lss-hdr-course">
              </header>

              <div class="cf container">
                  <nav class="crs-nav h-left">
                      <ul>
                          {% for page in site.pages %}
                           {% if page.layout == 'course' %}
                              {% for lesson in site.pages %}
                                  {% if page.id == lesson.course_slug %}
                                      <li>
                                          <h2 class="size-bm"><a href="{{ site.baseurl }}/courses/{{ page.id }}/lesson-{{ lesson.id }}.html">{{ lesson.title }}
                                          </a></h2>
                                          <p class="size-s crs-nav-info">{{ lesson.subtitle }}</p>
                                      </li>
                                  {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                      </ul>
                  </nav>
                  <div class="crs-inner h-right lss-inner">
                    {% for page in site.pages %}
                       {% if page.layout == 'course' %}
                          {% for lesson in site.pages %}
                              {% if page.id == lesson.course_slug %}
                                {{ content }}
                              {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                  </div>

              </div>
           </div>
        </section>

        {% include footer.html %}

        <script src="{{ site.baseurl }}/js/general.js"></script>

        <script>

            window.addEventListener("load", function(){

                var scrollInner = document.querySelector('#lss-scroll-recieve');

              
                window.addEventListener("scroll", function(){
                    var header = document.querySelector('.lss-hdr-inner');
                    var progressbar = document.querySelector('.progress-bar');
                    var heightDiv = header.offsetHeight-80;
                    var heightScroll = document.querySelector('.lss-inner').offsetHeight;
                    var value = document.body.scrollTop-100;
                    var percentNum = (value*100)/heightScroll;
                    var percent = percentNum+'%';


                    if( document.body.scrollTop != 0) {
                        if ( !hasClass(header, 'border') ) { 
                             addClass (header, 'border');
                        }   
                    } else if(document.body.scrollTop == 0) {
                        if ( hasClass(header, 'border') ) { 
                            removeClass (header, 'border');
                        } 
                    }



                    if( document.body.scrollTop <= heightDiv) {
                        if ( hasClass(scrollInner, 'scroll') ) { 
                            removeClass (scrollInner, 'scroll');
                        }
                        if ( !hasClass(progressbar, 'hide') ) { 
                            addClass (progressbar, 'hide');
                            progressbar.style.width= 0+'%';
                        }   
                    } else {
                        if (percentNum < 100) {
                          document.querySelector('.progress-bar').style.width = percent;
                        } else {
                          document.querySelector('.progress-bar').style.width = "100%";
                        }
                        if ( !hasClass(scrollInner, 'scroll') ) { 
                            addClass (scrollInner, 'scroll');
                        }
                        if ( hasClass(progressbar, 'hide') ) { 
                            removeClass (progressbar, 'hide');
                            
                        } 
                    }

                 
                });

            });
        </script>


    </body>

</html>



