<!DOCTYPE HTML>

<html>

    <head>
        <meta http-equiv="Content-Type" content="charset=UTF-8" />
        <title>Your Website</title>
        <link href="{{ site.baseurl }}/css/buttons.css" rel="stylesheet" />
        <link href="{{ site.baseurl }}/css/course.css" rel="stylesheet"  />
    </head>

    <body>
        
        <div class="fixed lss-hdr-inner" id="lss-scroll-recieve">
          <header class="header">
              <div class="hdr-inner cf container">
                  <div class="h-left">
                      <div class="h-iblock">
                          <i class="icon brand-inside icons-logo-inside"></i>
                      </div>
                      <div class="h-iblock">
                          <h1 class="hdr-title">The map Academy</h1>
                          <h2 class="size-s">Learn to create maps on the web and visualize geospatial data</h2>
                      </div>
                  </div>
                  <div class="h-right h-tright">
                      <p class="size-s hdr-info">brought to your by <a href="#">CartoDB</a></p>
                  </div>
              </div>
          </header>
          <div class="hdr-nav container h-pr cf">
              <nav class="h-left">
                  <ul class="inb-list breadcumbs">
                      <li><a href="#">All courses</a></li>
                      <li><a href="#">Beginner course</a></li>
                  </ul>
              </nav>
              <div class="h-dropdown h-pa">
                  <nav>
                      <a href="#" class="h-drp-actions h-pa">
                          <i class="icon arrow-down icons-arrow-down"></i>
                      </a>
                      <ul>
                          {% for page in site.pages %}
                          {% if page.layout == 'course' %}
                              <li>
                                  <p><a class="size-s" href="/{{ page.id }}.html">
                                   {{ page.title }}
                                  </a></p>
                              </li>
                          {% endif %}
                          {% endfor %}
                      </ul>
                  </nav>
              </div>

          </div>
       </div>

        <section>
          <div class="lss-container">
              <header class="lss-course" id="lss-hdr-course">
                 
              </header>

              {{ content }}
              <div class="cf container">
                  <nav class="crs-nav h-left">
                      <ul>
                          {% for page in site.pages %}
                           {% if page.layout == 'course' %}
                              {% for lesson in site.pages %}
                                  {% if page.id == lesson.course %}
                                      <li>
                                          <h2 class="size-bm"><a href="/{{ lesson.id }}.html">{{ lesson.title }}
                                          </a></h2>
                                          <p class="size-s crs-nav-info">{{ lesson.subtitle }}</p>
                                      </li>
                                  {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                      </ul>
                  </nav>
                  <div class="crs-inner h-right lss-inner">

                    {% for page in site.pages %}
                           {% if page.layout == 'course' %}
                              {% for lesson in site.pages %}
                                  {% if page.id == lesson.course %}
                                          {{ lesson.text }}
                                         
                                  {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}






                  </div>

              </div>
           </div>
        </section>



        <script>
            window.addEventListener("load", function(){

                var scrollInner = document.querySelector('#lss-scroll-recieve');

              
                function hasClass(node, klass){
                    var classList = node.className;
                    if(classList.indexOf(klass)===-1){
                        return false;
                    } else {
                        return true;
                    }
                }

                function removeClass(node, classRemove){
                    node.className = node.className.replace(classRemove,"");
                }

                function addClass(node, classAdd){
                    node.className += ' ' + classAdd;
                } 


                window.addEventListener("scroll", function(){
                  var heightDiv = document.querySelector('.lss-hdr-inner').offsetHeight-80;

                    if( document.body.scrollTop <= heightDiv) {
                        if ( hasClass(scrollInner, 'scroll') ) { 
                            removeClass (scrollInner, 'scroll');
                        }   
                    } else {
                        if ( !hasClass(scrollInner, 'scroll') ) { 
                            addClass (scrollInner, 'scroll');
                        } 
                    }

                     
                });




            });
        </script>


    </body>

</html>



