// Breadcrumb
// --------------------------------------------------

.Breadcrumbs-item {
  margin-left: $spacing-unit;
  font-size: 11px;

  @media (max-width: $layout-m) {
    width: 100%;
    margin-left: 0;
  }
}
.Breadcrumbs-link {
  color: $grey9;

  &:hover,
  &.is-active {
    color: $grey2;
  }
}
.Breadcrumb-arrow {
  position: relative;
  top: -1px;
  margin-left: $spacing-unit;
  color: #CBCED0;
}
