// Browser
// --------------------------------------------------

.Browser {
  display: inline-block;
  box-shadow: 0 1px 4px 0 rgba(#000, .2), 0 2px 8px 4px rgba(#000, .05);
  border-radius: 5px;

  &.with-hover {
    &:hover {
      .Browser-shadow {
        opacity: 1;
      }
    }
  }
}
.Browser--full {
  width: 100%;
}
.Browser--full-left {
  margin-left: -90%;

  img {
    max-width: initial;
  }

  @media (max-width: $layout-l) {
    margin-left: -120%
  }

  @media (max-width: $layout-m) {
    margin-left: 0%;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
.Browser--full-right {
  margin-right: -90%;

  img {
    max-width: initial;
  }

  @media (max-width: $layout-l) {
    margin-right: -120%
  }

  @media (max-width: $layout-m) {
    margin-right: 0%;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
.Browser--bottom {
  margin-bottom: -84px;
}
.Browser-inner--gif {
  margin: 0 -5px -5px;
}
.Browser-info {
  position: absolute;
  width: 200px;
}
.Browser-info--left {
  top: 160px;
  left: -70px;
  text-align: right;
}
.Browser-info--right {
  right: -70px;
  top: 110px;
  text-align: left;
}
.Browser-shadow {
  @include cover;
  opacity: 0;
  background: rgba(#000, .7);
  transition: all .3s;
}
.Browser-gradient {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px 0;
  background: linear-gradient(to bottom, rgba(#000, 0) 0%,rgba(#000, .5) 100%);
}
.Browser-img,
.Browser-spinner {
  display: none;

  &.is-active {
    display: block;
  }
}
.Browser-actions {
  width: auto;
  padding: 8px 10px;
  list-style: none;
  overflow: hidden;
  background: #F2F2F2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.Browser-actionsItem {
  float: left;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  background: #ddd;
  border-radius: 50%;
}
.Browser-bar {
  background: #ddd;
  padding: 8px 10px;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -24px;
    width: 57px;
    height: 24px;
    background: #ddd;
    border-radius: 8px;
  }

  &:after {
    left: 110px;
    transform: matrix(1, 0, .45, 1, -32, 7.133);
  }

  &:before {
    left: 90px;
    transform: matrix(1, 0, -.45, 1, -32, 7.133);
  }
}
.Browser-address {
  height: 16px;
  background: #fff;
  border-radius: 8px;
}
.Browser-media,
.Laptop-media,
.Tablet-media,
.Imac-media {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;

    &.no-full {
      max-width: initial;

      @media (max-width: $layout-l) {
        max-width: 100%;
      }
    }
  }
}
.Browser-media {
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Browser-credits {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 160px;
}
.Video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Imac
.Imac {
  position: relative;
  display: inline-block;
  text-align: center;
}
.Imac-screen {
  position: relative;
  padding: 25px 25px 30px;
  background: #334750;
  border-radius: 16px;

  &:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgba(#fff, .1);
    bottom: 9px;
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 50%;
  }
}
.Imac-screen--dark {
  border: none;
}
.Imac-base {
  position: relative;
  display: inline-block;
  border-bottom: 70px solid #f0f0f0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 120px;

  &:after {
    content: "";
    position: absolute;
    right: -30px;
    bottom: -73px;
    left: -30px;
    height: 3px;
    background: #ddd;
    border-radius: 3px;
  }
}

// Laptop
.Laptop {
  display: inline-block;
  padding: 0 60px;
}
.Laptop-screen {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 30px 26px 20px;
  background: #334750;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(#fff, .1);
    top:11px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
  }

  &:after {
    content:"";
    position: absolute;
    width: 44px;
    height: 5px;
    background: rgba(#fff, .1);
    bottom: 8px;
    left: 50%;
    margin-left: -22px;
  }
}
.Laptop-media {
  border: 3px solid #2E2E2E;
  border-radius: 3px;
  background: #fff;
}
.Laptop-keyboard {
  border: 1px solid #ddd;
  height: 18px;
  margin-left: -60px;
  margin-right: -60px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  background: linear-gradient(to bottom, #f2f2f2 0%, #f2f2f2 50%, #f0f0f0 51%, #e3e2e2 100%);
  position: relative;

  &:after {
    content:"";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    height: 9px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-top: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
}

// Tablet
.Tablet {
  display: inline-block;
}
.Tablet--rotate {
  transform: rotate(356deg);
}
.Tablet-screen {
  position: relative;
  padding: 36px 72px;
  border: 2px solid #ddd;
  background: #FFF;
  border-radius: 36px;

  &:before {
    content:"";
    position: absolute;
    top: 50%;
    left: 18px;
    width: 36px;
    height: 36px;
    border: 2px solid #ddd;
    opacity: 1;
    margin: -18px 0 0;
    border-radius: 50%;
  }

  &:after {
    content:"";
    position: absolute;
    top: 50%;
    right: 32px;
    left: auto;
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 50%;
    background: #ddd;
    margin: -4px 0 0;
  }
}
.Tablet-screen--dark {
  border-color: #373D40;
  background: #000;

  &:before {
    border-color: #32333A;
  }

  &:after {
    background: #32333A;
  }

  .Tablet-media {
    border-color: #2C2C2C;
  }
}
.Tablet-screen--small {
  padding: 20px 40px;
  border-radius: 20px;

  &:before {
    left: 8px;
    width: 20px;
    height: 20px;
    margin: -10px 0 0;
  }

  &:after {
    right: 18px;
    width: 6px;
    height: 6px;
    margin: -3px 0 0;
  }
}
.Tablet-media {
  border: 2px solid $grey9;
  background: #f9f9f9;
  border-radius: 2px;
}

// Phone
.Phones {
  display: block;
  position: relative;
  height: 587px;
  width: 540px;
  float: right;

  @media (max-width: $layout-l) {
    display: inline-block;
    float: none;
  }
}
.Phone {
  position: absolute;
}
.Phone-inner {
  position: relative;

  &:before {
    content:"";
    width: 24px;
    height: 2px;
    border-radius: 30px;
    background: #ddd;
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -14px;
    z-index: 1;
  }
}
.Phone-screen {
  padding: 40px 10px;
  border: 1px solid #ddd;
  background: #f2f2f2;
  border-radius: 20px;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    top: auto;
    bottom: 6px;
    left: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    opacity: 1;
    background: none;
    margin: 0 0 0 -12px;
    border-radius: 50%;
  }

  &:after {
    content:"";
    position: absolute;
    top: 12px;
    right: 50%;
    left: auto;
    width: 4px;
    height: 4px;
    opacity: 1;
    border-radius: 50%;
    background: #ddd;
    margin: 0 0 0 -2px;
  }
}
.Phone-media {
  border: 2px solid #ddd;
  border-radius: 2px;
  position: relative;
  overflow: hidden;

  img {
    display: block;
  }
}
.Phone--medium {
  .Phone-inner {
    &:before {
      height: 4px;
      margin-left: -22px;
      top: 42px;
      width: 44px;
    }
  }
  .Phone-screen {
    border-radius: 40px;
    border-width: 2px;
    padding: 66px 18px 70px 18px;

    &:before {
      border-width: 3px;
      bottom: 12px;
      height: 36px;
      margin: 0 0 0 -18px;
      width: 36px;
    }

    &:after {
      height: 8px;
      left: 50%;
      margin-left: -4px;
      top: 22px;
      width: 8px;
    }
  }
  .Phone-media {
    border: 0;
    border-radius: 0;
  }
}
.Phone--big {
  max-height: 500px;
  overflow: hidden;
  vertical-align: top;

  .Phone-inner {
    &:before {
      top: 70px;
      width: 70px;
      height: 6px;
      margin-left: -35px;
    }

    &:after {
      width: 14px;
      height: 14px;
    }
  }
  .Phone-screen {
    padding: 100px 30px;
    border-radius: 50px;

    &:after {
      top: 35px;
      width: 14px;
      height: 14px;
      margin-right: -7px;
    }
  }
  .Phone-media {
    img {
      height: auto;

      &.no-full {
        max-width: 400px;
      }
    }
  }
}
.Phone--dark {
  .Phone-inner:before {
    background: #465860;
  }

  .Phone-screen {
    border: 2px solid #465860;
    background: #334750;

    &:before {
      border: 2px solid #465860;
    }

    &:after {
      background: #465860;
    }
  }

  .Phone-media {
    border: 3px solid #2E2E2E;
  }
}
.Phone--black {
  .Phone-inner:before {
    background: #465860;
  }

  .Phone-screen {
    background: #0B161A;

    &:before {
      border: 2px solid rgba(#fff, .15);
    }

    &:after {
      background: #465860;
    }
  }
}
.Phone-screen--green {
  border: 3px solid #98E466;
}
.Phone-screen--red {
  border: 3px solid #FF6B6B;
}
.Phone-screen--yellow {
  border: 3px solid #FFF06E;
}
.Phone-screen--blue {
  border: 3px solid #46B7F1;
}
.Phone--first {
  left: 0;
  z-index: 4;
}
.Phone--last {
  right: 0;
  z-index: 1;
}
.Phone--second {
  left: 174px;
  z-index: 3;
}
.Phone--third {
  left: 274px;
  z-index: 2;
}
.Phone--fourth {
  left: 374px;
  z-index: 1;
}
.Device--responsive {
  position: relative;

  @media (max-width: $layout-l) {
    &.Laptop {
      padding: 0;
    }
    .Laptop-keyboard {
      display: none;
    }
    .Laptop-screen {
      padding: 36px 72px;
      border: 2px solid #ddd;
      background: #FFF;
      border-radius: 36px;
      position: relative;

      &:before {
        content:"";
        position: absolute;
        top: 50%;
        left: 18px;
        width: 36px;
        height: 36px;
        border: 2px solid #ddd;
        opacity: 1;
        margin: -18px 0 0;
        border-radius: 50%;
      }

      &:after {
        content:"";
        position: absolute;
        top: 50%;
        right: 32px;
        left: auto;
        width: 8px;
        height: 8px;
        opacity: 1;
        border-radius: 50%;
        background: #ddd;
        margin: -4px 0 0 0;
      }
    }
    .Laptop-media {
      border: 2px solid #ddd;
      border-radius: 2px;
    }
  }

  @media (max-width: $layout-m) {
    .Laptop-inner,
    .Tablet-inner {
      &:before {
        content: "";
        border-radius: 3px;
        background: #ddd;
        position: absolute;
        top: 42px;
        left: 50%;
        width: 44px;
        height: 4px;
        margin-left: -22px;
        z-index: 1;
      }
    }
    .Laptop-screen,
    .Tablet-screen {
      padding: 66px 18px 70px;
      border-radius: 40px;
      position: relative;

      &:before {
        top: auto;
        bottom: 12px;
        left: 50%;
        width: 36px;
        height: 36px;
        margin: 0 0 0 -18px;
        border-radius: 50%;
      }

      &:after {
        top: 22px;
        left: 50%;
        width: 8px;
        height: 8px;
        margin-left: -4px;
      }
    }
    .Laptop-media,
    .Tablet-media {
      position: relative;
      width: 245px;
      height: 447px;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        max-width: inherit;
        margin-left: -50%;

        &.has-mobile {
          max-width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
