// Dialogs
// --------------------------------------------------

.Dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: linear-gradient(to bottom, #fff 0%, rgba(#fff, .9) 100%);

  &.is-active {
    display: block;
  }

  &.is-opening {
    animation: fade-and-scale-in 100ms ease-out;
  }

  &.is-closing {
    animation: fade-and-scale-out 80ms ease-in forwards;
  }
}
.Dialog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Dialog-content {
  width: 100%;
  padding: 0 20px;
  margin-top: -58px;
  animation: fade-and-scale-in 100ms ease-out;

  @media (max-width: $layout-s) {
    margin-top: 0;
  }
}
.Dialog-header {
  text-align: center;
  padding-bottom: 28px;

  @media (max-width: $layout-s) {
    padding-top: 28px;
  }
}
.Dialog-body {
  padding: 28px 0 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
.Dialog-close {
  display: inline-block;
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #ccc;
  color: #ccc;
  font-weight: 300;
  font-size: 18px;
  outline: none;
  transition: all .2s;
  
  &:hover {
    border-color: $grey9;
    color: $grey9;
  }
}

@media (max-width: $layout-s) {
  .Dialog-wrapper {
    justify-content: flex-start;
    padding-top: 20px;
  }

  .Dialog-close {
    top: 20px;
    right: 20px;
  }

  .Dialog-title,
  .Dialog-description {
    display: none;
  }
}

@keyframes fade-and-scale-in {
  0% {
    opacity: 0;
    transform: scale(2.0);
  }
  10% {
    opacity: .9;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes fade-and-scale-out {
  0% {
    opacity: 1;
    transform: scale(1.0);
  }
  80% {
    opacity: .05;
    transform: scale(1.40);
  }
  100% {
    opacity: 0;
    transform: scale(2.0);
  }
}
