// Features
// --------------------------------------------------

.Feature-item {
  display: block;
  padding: 0 $spacing-unit;
  width: 100%;
  margin-bottom: $spacing-unit * 3;
  color: $grey9;

  &.is-active {
    .Feature-inner--withlink {
      transition: all .2s;
 
      &:hover {
        .Feature-circle {
          border-color: #2ca8e1;
          color: #2ca8e1;
        }

        .Feature-text {
          color: $grey2;
        }
      }

      .Feature-circle {
        border-color: #2ca8e1;
        color: #2ca8e1;
      }

      .Feature-text {
        color: $grey2;
      }
    }
  }

  @media (max-width: $layout-m) {
    margin-bottom: $spacing-unit;
  }
}
.Feature-item--short {
  margin-bottom: $spacing-unit;
}
.Feature-inner {
  display: block;
}
.Feature-inner--withlink {
  transition: all .2s;

  &:hover {
    text-decoration: none;

    .Feature-text {
      color: $grey6;
    }

    .Feature-circle {
      border-color: #ccc;
      color: #ccc;
    }
  }

  .Feature-text {
    color: $grey9;
  }
}
.Feature-inner--withborder {
  transition: all .2s;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;

  &.Feature-inner--withlink {
    &:hover {
      border: 1px solid #ccc;
    }
  }
}
.Feature-media {
  width: 48px;
  height: 48px;
  margin-bottom: $spacing-unit * 2;
}
.Feature-text {
  font-size: 15px;
  line-height: 26px;
  color: $grey6;
  transition: all .2s;
}
.Feature-text--cWhite {
  color: #fff;
}

@media (max-width: $layout-m) {
  .Features {
    margin-bottom: 40px;
  }

  .Feature-media,
  .Feature-content {
    float: left;
  }
  .Feature-media {
    margin-bottom: 0;
    margin-right: $spacing-unit;
  }
  .Feature-content {
    width: calc(100% - 68px);
  }
}
