// Footer
// --------------------------------------------------

.Footer {
  background: #fff;
  padding-top: 120px;

  @media (max-width: $layout-l) {
    padding-top: 60px;
  }
}
.Footer--cGrey {
  background: #f9f9f9;
}
.Footer-column {
  padding-bottom: 40px;
}
.Footer-column--mobile {
  border-top: 1px solid #eee;
}
.Footer-title {
  font-weight: 600;
  color: $grey2;
}
.Footer-item {
  position: relative;
  margin-bottom: 6px;
}
.Footer-item--mobile {
  border-bottom: 1px solid #eee;
  display: block;
  padding: 13px 0;
  margin-bottom: 0;

  .Footer-link {
    display: block;
  }
}
.Footer-link {
  transition: color .2s ease;

  &:hover {
    color: $grey2;
    text-decoration: none;
  }
}
.Footer-logo,
.Footer-credits {
  display: inline-block;
  vertical-align: middle;
}
.Footer-credits {
  line-height: 18px;
  text-align: left;
  color: $grey9;
}
.Colophon {
  padding-top: 13px;
  text-align: right;

  @media (max-width: $layout-m) {
    padding-top: 0;
    text-align: left;
  }
}
.Colophon-item {
  display: inline-block;
}
.Footer-social {
  line-height: 40px;
}
.Newsletter {
  position: relative;

  .hs-form {
    margin-right: 0 !important;
    padding-left: 0;

    .input {
      margin-right: 0;
      margin-bottom: 0;
    }

    .hs-input {
      padding-right: 88px;
    }
  }
}
.hs-newsletter {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  width: 100px;
  border: 0;
  font: 400 13px $font-family-base;
  text-transform: uppercase;
  background: #3AA9E3;
  color: #fff;
  border-radius: 0 4px 4px 0;
  transition: all .15s;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken($blue1, 5%);
    color: #fff;
  }
}
.Footer-arrow {
  position: absolute;
  right: 0;
  top: 18px;
  color: #ddd;
}