// Header
// --------------------------------------------------

.Header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 500px;
  background: $blue1;
}

// Sizes
.Header--short {
  min-height: 0;
}
.Header--tall {
  min-height: 550px;
}
.Header--full80 {
  height: 80vh;
}
.Header--full100 {
  height: 100vh;
}
.Header--withbrands {
  height: calc(100vh - 86px);
}

// Colors
.Header--dark {
  background: $grey2;
}
.Header--cGreen {
  background: $green1;
}
.Header--cBlue {
  background: $blue1;
}
.Header--cWhite {
  background: #f9f9f9;
}
.Header--gBlue {
  background-image: linear-gradient(-45deg, $blue1 0%, $blue2 100%);
}
.Header--gSkyBlue {
  background-image: linear-gradient(-45deg, $blue2 0%, $green2 100%);
}
.Header--gPurple {
  background-image: linear-gradient(135deg, $purple1 0%, $purple2 100%);
}
.Header--gGreen {
  background-image: linear-gradient(135deg, $green3 0%, $green4 100%);
}
.Header-background {
  @include cover;
}
.Header-background--cover {
  background-size: cover;
  background-position: center;
}
.Header-background--academy {
  background: url("../img/backgrounds/academy.svg") center 77px repeat-x;
  opacity: .25;

  .no-svg& {
    background-image: url("../img/backgrounds/academy.png");
  }
}
.Header-inner {
  padding: $spacing-unit * 4 0;
}
.Header-inner--vcenter {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-top: -31px;
}
