/* Icons */
@font-face {
  font-family: 'carto-icons';
  src: url('../fonts/carto-icons.eot');
  src: url('../fonts/carto-icons.eot?#iefix') format('eot'),
    url('../fonts/carto-icons.woff') format('woff'),
    url('../fonts/carto-icons.ttf') format('truetype'),
    url('../fonts/carto-icons.svg#carto-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Icon:before {
  display: inline-block;
  font-family: "carto-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Sizes */
.Icon--s5 {
  font-size: 5px;
}
.Icon--s6 {
  font-size: 6px;
}
.Icon--s10 {
  font-size: 10px;
}
.Icon--s20 {
  font-size: 20px;
}
.Icon--s22 {
  font-size: 22px;
}
.Icon--s48 {
  font-size: 48px;
}

/* Colors */
.Icon--cWhite {
  color: #FFF;
}
.Icon--cBlue {
  color: #3AA9E3;
}
.Icon--cGreen {
  color: #9CCC65;
}
.Icon--cGrey1 {
  color: #979EA1;
}
.Icon--cGreyC {
  color: #CBCED0;
}
/* Align */
.Icon--mAlign {
  vertical-align: middle;
}
.Icon--cartofante:before {
  content: "\E001"
}
.Icon--arrowDown:before {
  content: "\E002"
}
.Icon--arrowRight:before {
  content: "\E003"
}
.Icon--doc:before {
  content: "\E004"
}
.Icon--video:before {
  content: "\E005"
}
.Icon--indent:before {
  content: "\E006"
}
.Icon--menu:before {
  content: "\E007"
}
.Icon--check:before {
  content: "\E008"
}
.Icon--lessons:before {
  content: "\E009"
}
.Icon--hcenter {
  margin-left: -3px;
}
