// Numbers
// --------------------------------------------------

.Numbers-title {
  font-size: 30px;

  span {
    font-size: 22px;
  }
}

.Numbers-description {
  font-weight: 200;
  font-size: 13px;
  color: #333;
}
