// Rows
// --------------------------------------------------

.Row {
  &:last-child {
    .Row-inner {
      border-bottom: 0;
    }

    .Row-icon,
    .Row-content {
      margin-bottom: 0;
    }
  }
}

.Row--platform {
  .Row-icon,
  .Row-content {
    margin-bottom: 0;
  }
}

.Row--press {
  .Row-icon,
  .Row-content {
    margin-bottom: 40px;
  }
}

.Row-inner {
  padding-top: 40px;
  border-bottom: 1px solid #ddd;
}

.Row-button {
  float: right;
}

@media (max-width: $layout-l) {
  .Row--platform {
    .Row-icon,
    .Row-content {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: $layout-m) {
  .Row {
    text-align: center;

    &:last-child {
      .Row-inner {
        border-bottom: 0;
      }

      .Row-icon,
      .Row-content {
        margin-bottom: 40px;
      }
    }
  }

  .Row-icon,
  .Row-button {
    float: none;
  }

  .Row-icon,
  .Row-content {
    width: 100%;
  }
}
