// Titles
// --------------------------------------------------

.Title {
  color: $grey2;

  span {
    font-weight: 300;
    color: $grey9;
  }
}

// Sizes
.Title--header {
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #fff;

  @media (max-width: $layout-l) {
    font-size: 32px;
    line-height: 48px;
  }
}
.Title--sectionLarge {
  font-size: 32px;
  line-height: 48px;

  @media (max-width: $layout-l) {
    font-size: 24px;
    line-height: 36px;
  }
}
.Title--sectionMedium {
  margin-bottom: $spacing-unit;
  font-size: 24px;
  line-height: 36px;
}
.Title--feature {
  margin-bottom: $spacing-unit / 2;
  font-size: 18px;
  line-height: 26px;
}
.Title--card {
  font-size: 16px;
  line-height: 24px;

  // @media (max-width: $layout-l) {
  //   font-size: 13px;
  //   line-height: 20px;
  // }
}
.Title--small {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  color: rgba(#fff, .6);
  text-transform: uppercase;
}
.Title-link {
  color: $grey2;
  transition: all .2s;

  &:hover {
    text-decoration: none;
    color: darken($grey2, 5%);
  }
}
.Title--quote {
  font-weight: 300;
  font-style: italic;
}
// Colors
.Title--cWhite {
  color: #fff;
}
.Title--cGrey9 {
  color: $grey9;
}
.Title--cGrey2 {
  color: $grey2;
}
.Title-permalink {
  position: relative;
  left: .5em;
  opacity: 0;
  font-size: 12px;
  transition: opacity .2s ease-in-out .1s;
}
