// Titles
// --------------------------------------------------

.Title {
  font-weight: 600;
  color: $grey2;
}
.Title.Title--h1 {
  margin-bottom: $spacing-unit;
  font-size: 22px;
  line-height: 30px;
}
.Title.Title--h2 {
  margin-bottom: $spacing-unit;
  font-size: 18px;
  line-height: 24px;
}
.Title-link {
  position: relative;
  left: .5em;
  opacity: 0;
  font-size: 15px;
  transition: opacity .2s ease-in-out .1s;
}

